<head></head>
<body>
  <div style="text-align:center">
    <h1>Document Reader</h1>
  </div>
  <div id="search-bar">
    <h2>You can search text here: </h2>
    <input #searchContent type="text" (keyup)="searchInput=searchContent.value">
    <button (click)="searchText()">Search</button>
  </div>
  <ul>
    <!--li *ngFor="let exam of examsList">
      {{exam.title}}
    </li-->
  </ul>
  <div></div>
  <button (click)="TriggerRequest()">Click Me</button>
  <div>{{testRequest}}</div>
  <article *ngIf="isValidDocument">
    <pre>{{documents}}</pre>
  </article>
</body>
