<head></head>
<body>
  <div style="text-align:center">
    <h1>Document Reader</h1>
  </div>
  <div id="search-bar">
    <h2>You can search text here: </h2>
    <input #searchContent type="text" (keyup)="searchInput=searchContent.value">
    <button (click)="searchText()">Search</button>
  </div>
  <div id="search-result" *ngIf="isSearch">
    <div *ngIf="isSearchResultFound; else searchResultNotFound">
      The matched texts are found in:
      <ul>
        <li *ngFor="let info of searchResult.occurences">
          Line: {{info.line}}, start: {{info.start}}, end: {{info.end}}, in sentence: {{info.in_sentence}}
        </li>
      </ul>
    </div>
    <ng-template #searchResultNotFound>
      The text does not exist in current document.
    </ng-template>
  </div>
  <ul>
    <!--li *ngFor="let exam of examsList">
      {{exam.title}}
    </li-->
  </ul>
  <div></div>
  <button (click)="TriggerRequest()">Click Me</button>
  <div>{{testRequest}}</div>
  <article *ngIf="isValidDocument">
    <pre>{{documents}}</pre>
  </article>
</body>
